{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        Create Username:<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        Class:<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="class" placeholder="Class" type="text">
    </div>
    <div class="mb-3">
        Create Password:<input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        Confirm Password:<input class="form-control mx-auto w-auto" id="cpassword" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}